/* =============
    RESET BÁSICO 
   ============= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: Arial, Helvetica, sans-serif;

}

/* =============
    HEADER 
   ============= */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
    position: sticky;
    background: linear-gradient(45deg, #800000 0%, #ff5353 100%);
    color: white;
    
}

header nav {

    display: flex;
    align-items: center;

}

header nav ul {

    display: flex;
    text-align: justify;
    list-style: none;
    padding: auto;
    gap: 20px;
    margin: 0;
    padding: 0;

}

header nav ul li a {

    text-decoration: none;
    color: white;
    padding: 20px 15px;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease;
    border-radius: 5px;

}

header nav ul li a:hover {

    color: #c44d4d;
    text-decoration: none;

}

/* ====================
    CONTAINER NA MAIN 
   ==================== */

.container-home {

    display: flex;
    margin: 75px auto;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #800000 0%, #ff5353 100%);
    height: 500px;
    width: 90%;
    padding: 30px;

}

.container-home main h2 {

    color: rgb(255, 255, 255);
    text-align: center;

}

/* =============
    CARDS 
   ============= */

.cards-container {

    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 30px;

}

.card {
    
    display: flex;
    aspect-ratio: 3 / 2;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    width: calc(25% - 1rem);
    background-color: rgb(76, 6, 6);
    color: white;
    text-align: center;
    padding: 20px;

}

/* ===============
    BOTÃO DA HOME 
   =============== */

.botao-home {

    display: block;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 50px auto 0;
    background-color: #800000;
    color: whitesmoke;
    font-weight: 600;
    border: none;
    cursor: pointer;

}

.botao-home:hover {

    background-color: red;
    color: white;

}

footer {

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}

footer p {

    font-size: 10px;
    font-weight: 600;

}
